<div class="center jumbotron">
  <h1>Welcome to Mintbook Teleclasses</h1>

  <h2>
    This is the home page for the Mintbook Teleclasses Application
  </h2>

</div>

<%= link_to image_tag("mintbook.png", alt: "Mintbook logo") %>
