<% provide(:title, 'Show Lesson') %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Telephone Id:</strong>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
